/** @format */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Amiko', sans-serif;
}

.hero__header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header__logo {
  text-decoration: none;
  color: #048a2e;
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 43px;
}

.hero__header a span {
  color: #0a4cae;
}

.hero__header a img {
  margin-right: 10px;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  list-style: none;
}

.header__list .header__list--item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  padding: 12px 16px;
}

.header__list .header__list--item.active a {
  font-weight: 500;
  border-bottom: 1px solid #000;
}

.header__switch {
  display: flex;
  list-style: none;
  border: 0.5px solid #0a4cae;
}

.header__switch .header__switch--item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__switch .header__switch--item.active a {
  background-color: #048a2e;
  color: #fff;
}

.header__switch .header__switch--item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #000;
}

.hero__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: Amiko;
  height: 100%;
  padding: 20px 40px;
}

.hero__section--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 80px;
}

.hero__section--info--title {
  width: 387px;
  height: 240px;
  left: 40px;
  top: 99px;
  color: #000000;
  font-weight: 700;
  font-size: 46px;
  line-height: 48px;
}

.hero__section--info--subtitle {
  max-width: 387px;
  font-weight: 400;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 21.34px;
  text-align: left;
}

.hero__section--join {
  margin-left: 20px;
  height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.hero__section--join .hero__btn {
  max-height: 240px;
  max-width: 240px;
  width: 100%;
  height: 100%;
  border: 2px solid #048a2e;
  border-radius: 100%;
  background: transparent;
}

.hero__section--join .hero__btn:hover {
  background-color: #048a2e;
}

.hero__join--title {
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: #048a2e;
}
